<div class="page">
<h1>Example On Ng-Content</h1>
<div class="main">


<div class="card">
<app-card >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      </div>
    <mat-card-title>Iphone 12</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The iPhone 12 and iPhone 12 Mini use Apple's six-core A14 Bionic processor, which contains a next-generation neural engine. They both have three internal storage options: 64, 128, and 256 GB[a]. Both also carry an IP68 water and dust resistance rating along with dirt and grime, and is water-resistant up to six meters (20 feet) for 30 minutes.It will be available online 
    </p>
  </mat-card-content>
  <img  class="image" src="../assets/iphone-12-family-select-2021.jpeg" alt="Photo Of Iphone">
</app-card>
</div>


<div class="card">
  <app-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Iphone 12 Pro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The phone which is powered by the new Apple A14 Bionic processor, comes with a 6.7 inche Super Retina XDR OLED capacitive touchscreen and 2778 x 1284 p resolution. It features an HDR display and True Tone, and Wide color (P3) gamut. The display screen is protected by a unique ceramic shield and features 1200 nits max brightness, Dolby Vision, HDR10+ and 120Hz refresh rate.It will be availabe from August And You Can Buy Online and Offline.
      </p>
    </mat-card-content>
    <img class="image" src="../assets/12 pro.jpg" alt="Photo Of Iphone">
</app-card>
</div>


<div class="card">
  <app-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Iphone 13</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The phone which is powered by the new Apple A14 Bionic processor, comes with a 6.7 inche Super Retina XDR OLED capacitive touchscreen and 2778 x 1284 p resolution. It features an HDR display and True Tone, and Wide color (P3) gamut. The display screen is protected by a unique ceramic shield and features 1200 nits max brightness, Dolby Vision, HDR10+ and 120Hz refresh rate.
      </p>
    </mat-card-content>
    <img class="image" src="../assets/iphone-13-family-select-2021.jpeg" alt="Photo Of Iphone">

  </app-card>
</div>
<div class="card">
  <app-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Iphone 13 Pro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The iPhone 13 Pro has all the same hardware as the iPhone 13 Pro Max except for a smaller battery and display. You get sensor-shift stabilisation for the primary camera, and for the first time, you can take macro photos. Optical zoom also goes up to 3X. Apple has introduced new camera features, Cinematic Mode and Photographic Styles. Beyond that, the new A15 Bionic SoC delivers excellent performance.
      </p>
    </mat-card-content>
    <img class="image" src="../assets/13pro.jpg" alt="Photo Of Iphone">

  </app-card>
</div>
</div>
</div>